body{
font-family: Georgia, 'Times New Roman', Times, serif; font-weight: 500;
}

    img{
        margin-top: 0.2%;
        margin-left: 40%;
        margin-bottom: 0%;
        margin-right: 0%;
    }

